<!-- Botón para mostrar el modal -->
<button (click)="showModal()" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
    Crear Cliente
  </button>
  
  <!-- Modal -->
  <app-crear-cliente *ngIf="modalVisible" (closeModal)="hideModal()"></app-crear-cliente>
  
  <!-- Tabla de clientes -->
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr class="bg-gray-100 text-gray-600">
          <th class="px-6 py-3 text-left">Nombre</th>
          <th class="px-6 py-3 text-left">Apellido</th>
          <th class="px-6 py-3 text-left">Documento de Identidad</th>
          <th class="px-6 py-3 text-left">Dirección</th>
          <th class="px-6 py-3 text-left">Teléfono</th>
          <th class="px-6 py-3 text-left">Email</th>
          <th class="px-6 py-3 text-left">Fecha Registro</th>
        </tr>
      </thead>
      <tbody class="text-gray-600">
        <tr *ngFor="let cliente of clientes">
          <td class="px-6 py-4">{{ cliente.nombre }}</td>
          <td class="px-6 py-4">{{ cliente.apellido }}</td>
          <td class="px-6 py-4">{{ cliente.documentoIdentidad }}</td>
          <td class="px-6 py-4">{{ cliente.direccion }}</td>
          <td class="px-6 py-4">{{ cliente.telefono }}</td>
          <td class="px-6 py-4">{{ cliente.email }}</td>
          <td class="px-6 py-4">{{ cliente.fechaRegistro }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  