<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
      <thead>
          <tr class="bg-gray-100 text-gray-600">
              <th class="px-6 py-3 text-left">ID Producto</th>
              <th class="px-6 py-3 text-left">Nombre</th>
              <th class="px-6 py-3 text-left">Descripción</th>
              <th class="px-6 py-3 text-left">Precio</th>
              <th class="px-6 py-3 text-left">Stock</th>
              <th class="px-6 py-3 text-left">Fecha Registro</th>
              <th class="px-6 py-3 text-left">Estado</th>
          </tr>
      </thead>
      <tbody class="text-gray-600">
           <tr>
              <td class="px-6 py-4">1</td>
              <td class="px-6 py-4">Ceviche</td>
              <td class="px-6 py-4">Pescado crudo marinado en jugo de limón con ají</td>
              <td class="px-6 py-4">$25.00</td>
              <td class="px-6 py-4">50</td>
              <td class="px-6 py-4">2025-05-04</td>
              <td class="px-6 py-4"><span class="text-green-500">Activo</span></td>
          </tr>
       </tbody>
  </table>
</div>
