
<button (click)="showModal()" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
  Crear Producto
</button>


<!-- Modal -->
<app-crear-producto *ngIf="modalVisible" (closeModal)="refreshProductosList()"></app-crear-producto>

<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
      <thead>
          <tr class="bg-gray-100 text-gray-600">
              <th class="px-6 py-3 text-left">ID Producto</th>
              <th class="px-6 py-3 text-left">Nombre</th>
              <th class="px-6 py-3 text-left">Descripción</th>
              <th class="px-6 py-3 text-left">Precio</th>
              <th class="px-6 py-3 text-left">Stock</th>
              <th class="px-6 py-3 text-left">Fecha Registro</th>
              <th class="px-6 py-3 text-left">Estado</th>
          </tr>
      </thead>
      <tbody class="text-gray-600">
           <tr *ngFor="let producto of productos">
             <td class="px-6 py-4">{{ producto.id_producto }}</td>
             <td class="px-6 py-4">{{ producto.nombre }}</td>
             <td class="px-6 py-4">{{ producto.descripcion }}</td>
             <td class="px-6 py-4">{{ producto.precio }}</td>
             <td class="px-6 py-4">{{ producto.stock }}</td>
             <td class="px-6 py-4">{{ producto.fecharegistro | date:'yyyy-MM-dd'}}</td>
             <td class="px-6 py-4">{{ producto.estado }}</td>
          </tr>
       </tbody>
  </table>
</div>
