<div class="invoice-container">
  <h2 class="invoice-title">Listado de Facturas</h2>

  <button class="invoice-create-button" (click)="openFacturaModal()">
    Crear Factura
  </button>

  <div class="invoice-table-container">
    <table class="invoice-table">
      <thead>
      <tr>
        <th>Nro</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Subtotal</th>
        <th>IGV</th>
        <th>Total</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let factura of facturas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <div class="client-info">
            <span class="client-name">{{ factura?.clienteNombre }}</span>
            <span class="client-doc">RUC/DNI: {{ factura?.clienteDocumento }}</span>
          </div>
        </td>
        <td>{{ factura?.fecha?.toString()?.padStart(10) }}</td>
        <td>S/. {{ factura?.subtotal?.toFixed(2) }}</td>
        <td>S/. {{ factura?.igv?.toFixed(2) }}</td>
        <td>S/. {{ factura?.total?.toFixed(2) }}</td>
        <td>
          <span [class]="'status-badge ' + (factura?.activo ? 'active' : 'inactive')">
            {{ factura?.activo ? 'Activo' : 'Anulado' }}
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
